# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

mysql_data
mysql_testdata

server_side/server_side
server_side/routers/commentsRouter_controllers.go
server_side/conf/app.conf
server_side/lastupdate.tmp
server_side/logs

.env
.devcontainer